@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* image 6 */
*{
  margin: 0;
  padding: 0;
}

.image6{
  /* position: absolute; */
  width: 100%;
  height: 118px;
}

.title{
  font-family: Inter;
  font-size: 27px;
  font-weight: 500;
  line-height: 32.68px;
  text-align: center;
  margin: 25px;
}

#studentReqText{
  font-family: Inter, sans-serif;
  font-weight: 500;
}

.admin-dash-mid-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.admin-dash-mid-section table{
  width: 1247px;
  margin-left: 209px;
  border-spacing: 0;
  border-collapse: collapse; /* Prevents double borders */
  width: 1247px; /* Full width of the container */
  border: 1px solid black; /* Border for the table */
  border-radius: 15px; /* Rounded corners for the table */
  overflow: hidden; /* Needed to hide the overflow of rounded corners */
}

.admin-dash-mid-section thead{
  height: 91px;
  top: 2390px;
}

.admin-dash-mid-section th, td{
  height: 90px;
  font-family: Inter;
  font-weight: bold;
  font-size: 29px;
  line-height: 35.1px;
  text-align: left;

  padding-left: 10px;
}

.admin-dash-mid-section td{
  font-weight: 500;
}

.admin-dash-mid-section th{
  background: #F5C4C4;
  /* border-top: none; */
  /* display: inline-block; */
  /* background-clip: padding-box; */
  overflow: hidden;
}

.admin-dash-mid-section th:first-child{
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
}

.admin-dash-mid-section th:last-child{
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
}

